{% extends 'frontend/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Productos{% endblock %}

{% block content %}
<h1>Productos Disponibles</h1>
<div class="row">
    {% for producto in productos %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
            {% else %}
            <img src="{% static 'assets/image/default-product.jpg' %}" class="card-img-top" alt="Producto sin imagen">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">
                    <strong>Precio:</strong> ${{ producto.precio|intcomma }}<br>
                    <strong>Valoración:</strong> ⭐{{ producto.valoracion }}<br>
                </p>
                <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-success btn-block">Agregar al carrito</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No hay productos disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
